<h2> More about <%= celebrityDetails.name %> </h2>

<p> Occupation:
  <i> <%= celebrityDetails.occupation %> </i>
</p>
<p>
  Catch Phrase:
  <i> <%= celebrityDetails.catchPhrase %> </i>
</p>

<a href="/celebrities/<%= celebrityDetails._id %>/edit">
  Update Celebrity's Information
</a>
<br>

<a href="/celebrities/<%= celebrityDetails._id %>/delete">
  Delete Celebrity
</a>
<br>
